@* caputere de la variable passer a la vue au niveau du controller *@

@model List<Category>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">
                    List of Category
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <div class="float-end">
            <div class="col-12">
                <a class="btn btn-outline-info my-2 rounded-1" asp-controller="Category" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> Add
                </a>
            </div>

        </div>

        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>DisplayOrder</th>
                    <th class="">Actions</th>
                </tr>
            </thead>
            <tbody id="accountsTableBody">
                @foreach (var items in Model.OrderBy(u => u.DisplayOrder))
                {
                    <tr>
                        <td class="fw-semibold">@items.categoryId</td>
                        <td>@items.Name</td>
                        <td>@items.DisplayOrder</td>
                        <td class="d-flex">
                            @* Route pour modifier // asp-route-non_variable_passer_a_la_methode du controller *@
                            <a class="text-info" asp-controller="Category" asp-action="Edit" asp-route-id="@items.categoryId">
                                <i class="bi bi-pen-fill"></i>
                            </a>
                            <a class="mx-3 text-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@items.categoryId">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

